.header {
  padding-left: 50px;
  padding-top: 7px;
  padding-right: 50px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  min-width: 1100px;
  height: 291px;
  margin-bottom: 5px;
}

.header__link {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  line-height: 112%;
}

.header__links-list-item_no-bullit {
  list-style: none; 
}

.header__links-list-item {
  list-style: circle;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.header__logo {
  display: block;
  width: 136px;
  height: 106px; 
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 24.3px;
  padding-top: 3px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin-bottom: 185px;
  background-color: rgb(255, 255, 255);
}

.cover {
  background-image: url('/images/cover.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  padding: 165px 50px 0px 50px;
  z-index: 0;
  color: rgba(255, 255, 255, 1);
}

.aligned-text {
  color: rgba(255, 255, 255, 1);
  width: 286px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  text-transform: uppercase;
  display: block;
}

.aligned-text_left {
  text-align: left;
  padding-top: 2px;
}

.aligned-text_center {
  text-align: center;
  margin-left: 331px;
  margin-top: 21px;
}

.aligned-text_right {
  text-align: end;
  margin-left: 614px;
  margin-top: 21px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.description {
  padding-left: 50px;
  padding-top: 107px;
  padding-right: 50px;
  color: rgba(255, 255, 255, 1);
  z-index: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 14px 32px 11px 31px;
  background-color: transparent;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 117px;
  background-color: rgb(255, 255, 255);
  width: 1052px;
  min-height: 723px;
}

.lots__heading {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  padding-left: 40px;
  padding-bottom: 30px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
  min-width: 334px;
  min-height: 596px;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.card-link {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 119%;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  padding-left: 40px;
  padding-top: 48px;
  padding-right: 40px;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
}

.card_type_film {
  background-image: url('/images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('/images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('/images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  margin-top: 32px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.about {
  display: grid;
  grid-template-columns: 360px auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 180px;
  min-height: 595px;
  width: 1052px;
  background-color: rgb(255, 255, 255);
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 50%; 
  background-color: rgba(0, 0, 0, 1);
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 139px;;
}

.about__title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 693px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  height: 180px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
  background-color: rgb(255, 255, 255);
}

.header__address {
  max-width: 240px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 24.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 119%;
  color: rgba(0, 0, 0, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
  display: block;
  max-width: 48px;
  max-height: 48px;
}